In [1]:
import pandas as pd

# Test Data Definitions
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

exam_data = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})

data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})

# Task 1
combined_data_rows = pd.concat([student_data1, student_data2])
print("Task 1 - Combined Data Rows:\n", combined_data_rows)

# Task 2
combined_data_cols = pd.concat([student_data1, student_data2], axis=1)
print("\nTask 2 - Combined Data Columns:\n", combined_data_cols)

# Task 3
new_row = pd.DataFrame([['S6', 'Scarlette Fisher', 205]], columns=['student_id', 'name', 'marks'])
student_data1 = pd.concat([student_data1, new_row], ignore_index=True)
print("\nTask 3 - Student Data 1 after appending new row:\n", student_data1)

# Task 4
new_rows_dict = pd.DataFrame([{'student_id': 'S7', 'name': 'New Student', 'marks': 210}])
student_data1 = pd.concat([student_data1, new_rows_dict], ignore_index=True)
print("\nTask 4 - Student Data 1 after appending new rows from a dictionary:\n", student_data1)

# Task 5
combined_rows = pd.concat([student_data1, student_data2])
merged_with_exam = pd.merge(combined_rows, exam_data, on='student_id')
print("\nTask 5 - Merged with Exam Data:\n", merged_with_exam)

# Task 6
common_col_join = student_data1.merge(student_data2, on='student_id', how='inner')
print("\nTask 6 - Common Column Join:\n", common_col_join)

# Task 7
matching_records = student_data1.merge(student_data2, how='inner', on='student_id')
print("\nTask 7 - Matching Records:\n", matching_records)

# Task 8
left_join = data1.merge(data2, on=['key1', 'key2'], how='left')
print("\nTask 8 - Left Join:\n", left_join)

# Task 9
right_join = data1.merge(data2, on=['key1', 'key2'], how='right')
print("\nTask 9 - Right Join:\n", right_join)

# Task 10
multiple_keys_merge = data1.merge(data2, on=['key1', 'key2'])
print("\nTask 10 - Multiple Keys Merge:\n", multiple_keys_merge)

# Task 11
new_dataframe_from_series = new_row
print("\nTask 11 - New DataFrame from Series:\n", new_dataframe_from_series)

# Task 12
combined_keys = pd.concat([data1[['key1', 'key2']], data2[['key1', 'key2']]])
duplicated_keys = combined_keys[combined_keys.duplicated(keep=False)].drop_duplicates()
combination_more_than_once = pd.merge(data1, data2, on=['key1', 'key2'], how='inner')
final_combination = combination_more_than_once[combination_more_than_once.duplicated(['key1', 'key2'], keep=False)]
print("\nTask 12 - Final Combination:\n", final_combination)

# Task 13
combined_columns_diff_index = pd.concat([data1, data2], axis=1)
print("\nTask 13 - Combined Columns with Different Index:\n", combined_columns_diff_index)

# Task 14
merge_diff_columns = pd.merge(data1, data2, on=['key1', 'key2'], how='outer')
print("\nTask 14 - Merge with Different Columns:\n", merge_diff_columns)

# Task 15
df1 = pd.DataFrame({'A': [None, 0.0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})
combined_fill_null = df1.combine_first(df2)
print("\nTask 15 - Combined DataFrame with Filled Nulls:\n", combined_fill_null)

Task 1 - Combined Data Rows:
   student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Task 2 - Combined Data Columns:
   student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

Task 3 - Student Data 1 after appending new row:
   student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

Task 4 - Student Data 1 after appending new rows from a dictionary:
   student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205
6         S7       New Student    210

Task 5 - Merged with Exam Data:
   student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S5       Kwame Morin    199       21
5         S7       New Student    210       55
6         S4  Scarlette Fisher    201       67
7         S5  Carla Williamson    200       21
8         S7    Kaiser William    219       55
9         S8   Madeeha Preston    201       33

Task 6 - Common Column Join:
   student_id            name_x  marks_x            name_y  marks_y
0         S4         Ed Bernal      222  Scarlette Fisher      201
1         S5       Kwame Morin      199  Carla Williamson      200
2         S6  Scarlette Fisher      205       Dante Morse      198
3         S7       New Student      210    Kaiser William      219

Task 7 - Matching Records:
   student_id            name_x  marks_x            name_y  marks_y
0         S4         Ed Bernal      222  Scarlette Fisher      201
1         S5       Kwame Morin      199  Carla Williamson      200
2         S6  Scarlette Fisher      205       Dante Morse      198
3         S7       New Student      210    Kaiser William      219

Task 8 - Left Join:
   key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

Task 9 - Right Join:
   key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

Task 10 - Multiple Keys Merge:
   key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

Task 11 - New DataFrame from Series:
   student_id              name  marks
0         S6  Scarlette Fisher    205

Task 12 - Final Combination:
   key1 key2   P   Q   R   S
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

Task 13 - Combined Columns with Different Index:
   key1 key2   P   Q key1 key2   R   S
0   K0   K0  P0  Q0   K0   K0  R0  S0
1   K0   K1  P1  Q1   K1   K0  R1  S1
2   K1   K0  P2  Q2   K1   K0  R2  S2
3   K2   K1  P3  Q3   K2   K0  R3  S3

Task 14 - Merge with Different Columns:
   key1 key2    P    Q    R    S
0   K0   K0   P0   Q0   R0   S0
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2   R1   S1
3   K1   K0   P2   Q2   R2   S2
4   K2   K0  NaN  NaN   R3   S3
5   K2   K1   P3   Q3  NaN  NaN

Task 15 - Combined DataFrame with Filled Nulls:
      A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0

C:\Users\ahmad\AppData\Local\Temp\ipykernel_11332\196818922.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd