In [7]:
import pandas as pd


titanic = pd.read_csv('titanic.csv')  # Make sure to replace 'path/to/titanic.csv' with the actual file path.


titanic['age'] = pd.to_numeric(titanic['age'], errors='coerce')
titanic['fare'] = pd.to_numeric(titanic['fare'], errors='coerce')

# 1. Print a concise summary of the dataset
print("1. Dataset Summary:")
print(titanic.info())

# 2. 
print("\n2. Column Labels, Shape, and Data Types:")
print("Column Labels:", titanic.columns.tolist())
print("Shape:", titanic.shape)
print("Data Types:\n", titanic.dtypes)

# Creating age categories
titanic['age_category'] = pd.cut(titanic['age'], bins=[0, 10, 30, 60, 80], labels=['0-10', '10-30', '30-60', '60-80'])

# 3. 
pivot_multi_index = pd.pivot_table(titanic, values=['survived'], index=['sex', 'age_category', 'class'], aggfunc='mean')
print("\n3. Pivot Table with Multiple Indexes:\n", pivot_multi_index)

# 4. 
pivot_survival_gender_class = pd.pivot_table(titanic, values='survived', index='sex', columns='class', aggfunc='mean')
print("\n4. Survival Rate by Gender on Various Classes:\n", pivot_survival_gender_class)

# 5. 
pivot_survival_gender = pd.pivot_table(titanic, values='survived', index='sex', aggfunc='mean')
print("\n5. Survival Rate by Gender:\n", pivot_survival_gender)

# 6. 
pivot_survival_gender_age_class = pd.pivot_table(titanic, values='survived', index=['sex', 'age_category'], columns='class', aggfunc='mean')
print("\n6. Survival Rate by Gender, Age Wise of Various Classes:\n", pivot_survival_gender_age_class)

# Already partitioned each of the passengers into four categories based on their age for previous tasks.

# 8. Pivot table to count survival by gender, categories wise age of various classes
pivot_count_survival_gender_age_class = pd.pivot_table(titanic, values='survived', index=['sex', 'age_category'], columns='class', aggfunc='sum')
print("\n8. Count Survival by Gender, Categories Wise Age of Various Classes:\n", pivot_count_survival_gender_age_class)

# 9 & 10
titanic['fare_category'] = pd.qcut(titanic['fare'], 2, labels=['Lower Half', 'Upper Half'])

# Pivot table with fare categories as an additional dimension
pivot_survival_fare_category = pd.pivot_table(titanic, values='survived', index=['sex', 'age_category'], columns=['class', 'fare_category'], aggfunc='mean')
print("\n10. Survival Rate by Gender, Age, and Fare Categories of Various Classes:\n", pivot_survival_fare_category)

1. Dataset Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB
None

2. Column Labels, Shape, and Data Types:
Column Labels: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone', 'Unnamed: 15']
Shape: (891, 16)
Data Types:
 survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object

3. Pivot Table with Multiple Indexes:
                             survived
sex    age_category class
female 0-10         First   0.000000
                    Second  1.000000
                    Third   0.500000
       10-30        First   0.970588
                    Second  0.916667
                    Third   0.508772
       30-60        First   0.979167
                    Second  0.900000
                    Third   0.272727
       60-80        First   1.000000
                    Third   1.000000
male   0-10         First   1.000000
                    Second  1.000000
                    Third   0.363636
       10-30        First   0.458333
                    Second  0.023256
                    Third   0.139073
       30-60        First   0.412698
                    Second  0.090909
                    Third   0.118421
       60-80        First   0.083333
                    Second  0.333333
                    Third   0.000000

4. Survival Rate by Gender on Various Classes:
 class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

5. Survival Rate by Gender:
         survived
sex
female  0.742038
male    0.188908

6. Survival Rate by Gender, Age Wise of Various Classes:
 class                   First    Second     Third
sex    age_category
female 0-10          0.000000  1.000000  0.500000
       10-30         0.970588  0.916667  0.508772
       30-60         0.979167  0.900000  0.272727
       60-80         1.000000       NaN  1.000000
male   0-10          1.000000  1.000000  0.363636
       10-30         0.458333  0.023256  0.139073
       30-60         0.412698  0.090909  0.118421
       60-80         0.083333  0.333333  0.000000

8. Count Survival by Gender, Categories Wise Age of Various Classes:
 class                First  Second  Third
sex    age_category
female 0-10              0       8     11
       10-30            33      33     29
       30-60            47      27      6
       60-80             2       0      1
male   0-10              2       9      8
       10-30            11       1     21
       30-60            26       4      9
       60-80             1       1      0

10. Survival Rate by Gender, Age, and Fare Categories of Various Classes:
 class                    First                Second                 Third  \
fare_category       Lower Half Upper Half Lower Half Upper Half Lower Half
sex    age_category
female 0-10                NaN   0.000000        NaN   1.000000   0.800000
       10-30               NaN   0.970588   0.933333   0.904762   0.568182
       30-60               NaN   0.979167   0.846154   0.941176   0.142857
       60-80               NaN   1.000000        NaN        NaN   1.000000
male   0-10                NaN   1.000000        NaN   1.000000   1.000000
       10-30               NaN   0.458333   0.034483   0.000000   0.140625
       30-60               0.0   0.440678   0.130435   0.047619   0.109375
       60-80               NaN   0.083333   0.333333        NaN   0.000000

class
fare_category       Upper Half
sex    age_category
female 0-10           0.411765
       10-30          0.307692
       30-60          0.333333
       60-80               NaN
male   0-10           0.263158
       10-30          0.130435
       30-60          0.166667
       60-80               NaN

C:\Users\ahmad\AppData\Local\Temp\ipykernel_13412\3699669287.py:24: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_multi_index = pd.pivot_table(titanic, values=['survived'], index=['sex', 'age_category', 'class'], aggfunc='mean')
C:\Users\ahmad\AppData\Local\Temp\ipykernel_13412\3699669287.py:36: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_survival_gender_age_class = pd.pivot_table(titanic, values='survived', index=['sex', 'age_category'], columns='class', aggfunc='mean')
C:\Users\ahmad\AppData\Local\Temp\ipykernel_13412\3699669287.py:42: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_count_survival_gender_age_class = pd.pivot_table(titanic, values='survived', index=['sex', 'age_category'], columns='class', aggfunc='sum')
C:\Users\ahmad\AppData\Local\Temp\ipykernel_13412\3699669287.py:49: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_survival_fare_category = pd.pivot_table(titanic, values='survived', index=['sex', 'age_category'], columns=['class', 'fare_category'], aggfunc='mean')